/* Global CSS styles */
:root {
  box-sizing: border-box;
  font-size: 1rem;
  --black: #1a1919;
  --purple: #5f0f40;
  --playlistSearch: #1a1919;
  --toggle: #a0ac61;
  --gradient1: linear-gradient(-45deg, #FCF8E8, #76549A, #DF7861);
  --gradient2: linear-gradient(45deg, #669bbc, #003049, #fdf0d5);
  --gradient3: linear-gradient(-90deg, #FCF8E8, #76549A, #DF7861, #94B49F);
  --gradient4: linear-gradient(90deg, #FCF8E8, #76549A, #DF7861, #94B49F);
  --title: 'Reem Kufi Fun', sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  text-decoration: none;
  scroll-behavior: smooth;
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

/* Make an ellipses that truncates overflow */
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}